.board-container {
  position: relative;
  width: 400px;
  margin: 400px auto;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.board {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}

.tile {
  display: inline-block;
  height: 11.5%;
  width: 11.5%;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.tile.hidden {
  background-color: #d3d3d3;
}

.tile.exploded {
  background-color: #ff0000;
}